* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  min-height: 100vh;
  margin: 0;
}

#__next {
  height: 100%;
}
